.OneLine {
    float: left;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width:54px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}